#nav-main
  .menu
    padding: 2rem 0
    // border-bottom: 1px solid $light-grey

  .menu-item
    font-weight: $bold
    text-transform: uppercase
    font-size: 1.2rem

  .current-menu-item
    a
      color: $red

  a
    padding: 0.7rem